@use '../../styles/globals/' as g;

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.input {
  width: 100%;
  max-width: 276px;
  min-width: 100px;
  height: 44px;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: g.$input-background;
  border: unset;
  border-radius: 10px;
  padding: 0px 0px 0px 22px;
  margin: 0px 0px 0px 0px;
  font-family: g.$font-primary;
  color: g.$secondary-color;
  font-size: 15px;
  &::placeholder {
    font-size: 15px;
    color: g.$secondary-color;
  }
  &:focus {
    outline: none;
  }
  &.is-invalid {
    background-color: red;
    border-color: gold;
  }
}

.input_email[type='number']::-webkit-inner-spin-button,
.input_email[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_email[type='number'] {
  -moz-appearance: textfield;
}

.icon {
  position: relative;
  right: 40px;
  top: 12px;
}
