.container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    
}

.input_email {
    width: 100%;
    max-width: 400px;
    min-width: 100px;
    height: 50px;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: rgba(196, 196, 196, 0.2);
    border: unset;
    border-radius: 10px;
    padding: 0px 0px 0px 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.5);
    &::placeholder {
    font-size: 14px;
  
      color: rgba(0, 0, 0, 0.5);
    }
    &:focus{
        outline:none;
    }
  }

  .input_email[type=number]::-webkit-inner-spin-button, 
  .input_email[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
  .input_email[type=number] { -moz-appearance:textfield; }


  .icon{
    position: relative;
    right: 50px;
    top: 8px;
  }