@use '../../styles/globals/' as g;
@use '../../styles/util/' as u;

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: g.$background-light;
  .container__icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    .texto {
      text-decoration: none;
      color: g.$secondary-color;
      font-family: g.$font-primary;
      font-size: 12px;
    }
  }
}
