@use '../../styles/util/' as u;
@use '../../styles/globals/' as g;

.breackpoint {
  color: red;
}

.container__layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: g.$backgrund-dash;
}

@include u.breackpoint-up('small') {
  .breackpoint {
    color: green;
  }
}
