@use '../../styles/util/' as u;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container_image {
  margin-top: 85px;
  margin: 85px 0px 60px 0px;
}

@include u.breackpoint-up('small') {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    width: 360px;
    border-radius: 50px;
    background-color: #fff;
    -webkit-box-shadow: 10px 11px 17px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 11px 17px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 11px 17px -6px rgba(0, 0, 0, 0.75);
  }

  .background {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
